server:
  host: "127.0.0.1"
  port: 8080
  
database:
  host: "127.0.0.1"
  port: 3306
  user: "root"
  password: "root"
  database: "hackaton_2.0"
  pool_size: 5
  pool_name: None
  pool_reset_session: True